.search-bar{
  font-size: 20px;
  padding-left: 10px;
  height: 30px;
  border-radius: 20px;
  border: none;
  cursor:pointer;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .3);
  transition: box-shadow .15s;
}
.search-bar:hover{
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .6);
}

.banner{
  position:absolute;
  left:0px;
  top:150px;
}
.ban-text{
  position:absolute;
  left: 886px;
  top: 330px;
  border:red;
  width:150px;
  height:50px;
  color: white;
  background-color: red;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  transition: color .2s, background-color .2s;
}
.ban-text:hover{
  border-style: solid;
  border-width: 2px;
  color:red;
  background-color: white;
}


.featured{
  position:absolute;
  top: 550px;
  left: 790px;
  font-style: normal;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 30px;
}



.ivy{
  width: 389px;
  position: absolute;
  top: 684px;
  left: 340px;
  border-radius: 10px;
}
.ivy-name{
  position: absolute;
  top: 890px;
  left: 475px;
  font-family:monospace;
  font-size: 25px;
  transition: top;
}
.ivy-buy{
  position: absolute;
  top: 970px;
  left: 340px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background-color: red;
  color:white;
  height: 40px;
  width: 389px;
  transition: box-shadow .2s, opacity .2s;
}
.ivy-buy:hover{
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .3);
  opacity: .6;
}
.ivy-up{
  position: relative;
  top: -130px;
  left:-10px;
  transition: top .5s;                                                 
}
.ivy-up:hover{
  top:-150px;
}

.g7{
  width: 382px;
  position: absolute;
  top: 684px;
  left: 770px;
  border-radius: 10px;
}
.g7-name{
  position: absolute;
  top: 890px;
  left: 920px;
  font-family:monospace;
  font-size: 25px;
}
.g7-buy{
  position: absolute;
  top: 970px;
  left: 770px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background-color: red;
  color:white;
  height: 40px;
  width: 382px;
  transition: box-shadow .2s, opacity .2s;
}
.g7-buy:hover{
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .3);
  opacity: .6;
}
.g7-up{
  position: relative;
  top:-130px;
  left: -10px;
  transition: top .5s;
}
.g7-up:hover{
  top:-150px;
}

.g7iii{
  width: 382px;
  position: absolute;
  top: 684px;
  left: 1200px;
  border-radius: 10px;
}
.g7iii-name{
  position: absolute;
  top: 890px;
  left: 1320px;
  font-family:monospace;
  font-size: 25px;
}
.g7iii-buy{
  position: absolute;
  top: 970px;
  left: 1200px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background-color: red;
  color:white;
  height: 40px;
  width: 382px;
  transition: box-shadow .2s, opacity .2s;
}
.g7iii-buy:hover{
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .3);
  opacity: .6;
}
.g7iii-up{
  position: relative;
  top:-130px;
  left: -10px;
  transition: top .5s;
}
.g7iii-up:hover{
  top:-150px;
}




.r5{
  width: 382px;
  position: absolute;
  top: 1100px;
  left: 340px;
  border-radius: 10px;
}
.r5-name{
  position: absolute;
  top: 1300px;
  left: 475px;
  font-family:monospace;
  font-size: 25px;
}
.r5-buy{
  position: absolute;
  top: 1386px;
  left: 340px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background-color: red;
  color:white;
  height: 40px;
  width: 382px;
  transition: box-shadow .2s, opacity .2s;
}
.r5-buy:hover{
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .3);
  opacity: .6;
}
.r5-up{
  position: relative;
  top:-130px;
  left: -10px;
  transition: top .5s;
}
.r5-up:hover{
  top:-150px;
}

.r5c{
  width: 382px;
  position: absolute;
  top: 1100px;
  left: 770px;
  border-radius: 10px;
}
.r5c-name{
  position: absolute;
  top: 1300px;
  left: 920px;
  font-family:monospace;
  font-size: 25px;
}
.r5c-buy{
  position: absolute;
  top: 1386px;
  left: 770px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background-color: red;
  color:white;
  height: 40px;
  width: 382px;
  transition: box-shadow .2s, opacity .2s;
}
.r5c-buy:hover{
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .3);
  opacity: .6;
}
.r5c-up{
  position: relative;
  top:-130px;
  left: -10px;
  transition: top .5s;
}
.r5c-up:hover{
  top:-150px;
}

.r100{
  width: 382px;
  position: absolute;
  top: 1100px;
  left: 1200px;
  border-radius: 10px;
}
.r100-name{
  position: absolute;
  top: 1300px;
  left: 1330px;
  font-family:monospace;
  font-size: 25px;
}
.r100-buy{
  position: absolute;
  top: 1386px;
  left: 1200px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background-color: red;
  color:white;
  height: 40px;
  width: 382px;
  transition: box-shadow .2s, opacity .2s;
}
.r100-buy:hover{
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .3);
  opacity: .6;
}
.r100-up{
  position: relative;
  top:-130px;
  left: -10px;
  transition: top .5s;
}
.r100-up:hover{
  top:-150px;
}




.r10{
  width: 382px;
  position: absolute;
  top: 1516px;
  left: 1200px;
  border-radius: 10px;
}
.r10-name{
  position: absolute;
  top: 1715px;
  left: 1315px;
  font-family:monospace;
  font-size: 25px;
}
.r10-buy{
  position: absolute;
  top: 1802px;
  left: 1200px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background-color: red;
  color:white;
  height: 40px;
  width: 382px;
  transition: box-shadow .2s, opacity .2s;
}
.r10-buy:hover{
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .3);
  opacity: .6;
}
.r10-up{
  position: relative;
  top:-130px;
  left: -10px;
  transition: top .5s;
}
.r10-up:hover{
  top:-150px;
}

.RP{
  width: 382px;
  position: absolute;
  top: 1516px;
  left: 770px;
  border-radius: 10px;
}
.RP-name{
  position: absolute;
  top: 1715px;
  left: 890px;
  font-family:monospace;
  font-size: 25px;
}
.RP-buy{
  position: absolute;
  top: 1802px;
  left: 770px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background-color: red;
  color:white;
  height: 40px;
  width: 382px;
  transition: box-shadow .2s, opacity .2s;
}
.RP-buy:hover{
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .3);
  opacity: .6;
}
.RP-up{
  position: relative;
  top:-130px;
  left: -10px;
  transition: top .5s;
}
.RP-up:hover{
  top:-150px;
}

.R{
  width: 382px;
  position: absolute;
  top: 1516px;
  left: 340px;
  border-radius: 10px;
}
.R-name{
  position: absolute;
  top: 1715px;
  left: 475px;
  font-family:monospace;
  font-size: 25px;
}
.R-buy{
  position: absolute;
  top: 1802px;
  left: 340px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background-color: red;
  color:white;
  height: 40px;
  width: 382px;
  transition: box-shadow .2s, opacity .2s;
}
.R-buy:hover{
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .3);
  opacity: .6;
}
.R-up{
  position: relative;
  top:-130px;
  left: -10px;
  transition: top .5s;
}
.R-up:hover{
  top:-150px;
}
